body {
  background: radial-gradient(137.81% 94.07% at 42.43% 47.61%, #121421 0%, #121421 38.52%, #611532 96.44%, #121421 100%);
  height: 100vh;
}

.mainSection{
  padding-top: 150px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex
}

.inputField{
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 15px;
  padding: 8px 15px;
}

.icon{
  margin: 0 -10px;
  z-index: 3;
}

.text {
  color: #FAFAFA;
  font-size: 18px;
}

.subtext {
  color: #575757;
  font-size: 14px;
}